/* 
    ~Elizabeth Marticello
*/
html {
    background-image: linear-gradient(to bottom, white 0%, white 3%, darkblue 100%);
    background-repeat: no-repeat;
}

/* Styles for whole page */
body {
    font-family: Monaco, monospace;
    width: 1400px;
    border: 10px double black;
    border-radius: 40px;
    box-shadow: 0 0 15px 5px black;
    margin: 10px auto;
    background-image: linear-gradient(135deg, white 0%, white 20%, rgb(72,140,229) 100%);
}
body aside h4 {
    text-align: center;
}
body aside p {
    padding: .3em 0 .3em .3em;
}
h1,h2,h3,h4,p {
    margin: 0;
    padding: 0; 
}
#winds-body {
    background-image: linear-gradient(135deg, white 0%, white 20%, rgb(236,153,0) 100%);
}
#percussion-body {
    background-image: linear-gradient(135deg, white 0%, white 20%, rgb(195,85,85) 100%);
}
#strings-body {
    background-image: linear-gradient(135deg, white 0%, white 20%, rgb(173,114,71) 100%);
}

/* Styles for header */
header {
    background-color: rgb(101, 157, 231);
    border-radius: 30px 30px 0 0;
    color: white;
    height: 111px;
    border-bottom: 2px solid black;
}
header h1 {
    font-size: 315%;
    margin-top: 0;
    padding-top: 0.1em;
    text-shadow: 3px 3px 2px darkblue;
    text-align: center; 
}
header h3 {
    font-style: italic;
    padding-top: .4em;
    text-shadow: 1.5px 1.5px 1px darkblue;
    text-align: center; 
}
#winds-header {
    background-color: rgb(255, 193, 77)
}
#percussion-header {
    background-color: rgb(209, 123, 123);
}
#strings-header {
    background-color: rgb(196,146,110);
}

/* Styles for nav menu */
#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul li a {
    display: block;
    width: 350px;
    text-align: center; 
    padding: .75em 0;
    margin-bottom: 30px;
    text-decoration: none;
    background-color: lightgrey;
    color: rgb(72,140,229);
    font-weight: bold;
    font-size: 140%;
}
#nav_menu .current {
    font-weight: bolder;
    text-decoration: underline;
    color: midnightblue;
}
#nav_menu ul li a:hover, a:focus {
    color: red;
    font-style: italic;
}

/* Styles for the main element */
main{
    font-family: Lucida Console, Monaco, monospace;
    font-size: 125%;
    margin-left: 50px;
    margin-right: 50px;  
}

/* Styles for the section element*/
section {
    background-color: rgb(239,239,239);
    padding: 5px 50px 10px;
    margin: 30px 0;
    width: 650px;
    border: 10px double black;
    border-radius: 40px;
    float: left;
    color: black;
    position: relative;
    line-height: 115%;
}
section h2 {
    font-size: 140%;
    text-decoration: underline;
    margin-top: 0.3em;
    margin-bottom: 0.3em;   
}
section h3 {    /* Section h w/ smaller font */
    font-size: 100%;
    font-style: italic;
    text-decoration:underline;
    margin-top: 0.3em;
    margin-bottom: 0.3em; 
}
section p {
    margin-bottom: .7em;
}
section p img {
    width: 210px;
    padding: 2em 1em 1em 0;
    float: left;
}
section p a:hover, a:focus {
    color: red;
    font-weight: bolder;
    font-style: italic;
}

/* Styles for the aside element */
aside {
    background-color: rgb(239,239,239);
    border: 10px double black;
    border-radius: 40px;
    width: 30%;
    margin-top: 30px;
    padding: 10px;
    line-height: 115%;
    float: right;
}
aside h3 {  /* Aside w/ Underline */
    padding: .2em .5em;
    text-align: center;
    text-decoration: underline;
    font-size: 140%;
    line-height: 120%;
    margin-bottom: 0.3em;
}
aside h4 {  /* Aside w/o Underline */
    padding: 0 .5em;
    text-align: left;
    font-size: 140%;
    line-height: 95%;
    margin-bottom: 0.3em;   
}
aside img {
    width: 111px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
aside ul {
    margin: 0;
    list-style-type: disc;
    padding-left: 2em;
    line-height: 1.7;
}
aside ul li {
    margin: 0;
    padding-left: .2em;
}
aside ul li a {
    color: rgb(72,140,229);
    text-decoration: none;  
}
aside ul li a:hover, a:focus {
    color: red;
    font-style: italic;
    text-decoration: underline; 
}

/* Styles for the footer */
footer {
    background-color: lightgrey;
    border-radius: 0 0 30px 30px;
    color: black;
    font-size: 75%;
    line-height: 200%;
    text-align: center;
    clear: both;
}
footer p a:hover, a:focus {
    color: red;
    font-style: italic;
}

/* Styles for footer*/
table,th,td {
    border: 3px;
    border-style: solid;
    border-color: black;
    padding: .3em .3em .3em;
    
}
table {
    width: 59.2%;
    margin-bottom: 2em;
    background-color: rgb(239,239,239);
    border-radius: 25px;
}
table caption {
    font-weight: bold;
    line-height: 150%;
}