/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2022, 3:55:41 PM
    Author     : e.e.marticello
*/
/*
<link rel="stylesheet" href="styles/normalize.css">
*/

/*Styles for the whole page */
body {
    font-family: Arial, Helvetic, sans-serif;
    width: 900px;
    border: 3px solid rgb(0,93,158);
    box-shadow: 10px 10px 20px 10px black;
    margin: 0 auto;
}

h1,h3,h3,p {
    margin: 0;
    padding: 0; }
    
/* Styles for the header element */
header {
    background-color: rgb(0,93,158);
    background-image: linear-gradient(to right, rgb(180,115,164) 0%, rgb(180,115,164) 20%, rgb(0,93,158) 100%);
    color: white;
    height: 100px;
    margin-top: 0;
    border-bottom: 2px solid rgb(0,93,158);
}

header img {
    float: left;
    width: 100px;
    padding-right: 5em;    }
    
header h2 {
    font-size: 200%;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-shadow: 3px 3px 3px steelblue;
}

header h3 {
    font-size: 150%;
    margin-top: 0;
    padding-bottom: .75em;
}

/*Styles for the nav_menu*/
#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    display: block;
    width: 225px;
    text-align: center; 
    padding: 1em 0;
    text-decoration: none;
    background-color: rgb(0,93,158);
    color: white;
    font-weight: bold;
}

#nav_menu .current {
    color: yellow;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover > ul {
    display: block;
}

#nav_menu > ul:after {
    content: "";
    display: block;
    clear: both;
}

/* Styles for the main element */
main{
    clear: left;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 40px;
    margin-right: 40px;  }

/* Styles for the section element*/
section {
    padding: 25px 10px 25px;
    width: 555px;
    float: right;
}

section h1 {
    font-size: 220%;
    color: rgb(0,93,158);
    text-align: left; }

section h2 {
    font-size: 120%;
    color: rgb(0,93,158);
    margin-top: 0.3em;
    margin-bottom: 0.3em;   }

section h3 {
    font-size: 115%;
    margin-top: 0;
    margin-bottom: 0.5em;   }

section ul {
    margin-top: 0;  }

section a{
    color: steelblue;
    font-weight: bold;
    text-decoration: underline; }

section a hover {
    color: rgb(0,93,158);
    font-weight: bold;
    text-decoration: underline; }


/* Styles for the article */
article{
    font-size: 110%;    }

article em {
    font-weight: bold;  }

article img {
    float: right;
    padding-left: 1.5em;
    padding-bottom: 1em;    }

/* Styles for the aside element */
aside {
    padding: 10px;
    position: relative;
    top: 150px;
    background-color: lightgrey;
    width: 225px;
    float: left; 
}

aside h2 {
    font-size: 120%;
    margin-bottom: 0.3em;   }

aside ul {
    margin: 0;
    list-style-type: circle;
    padding-left: 1em;
    line-height: 1.5;
}

aside li {
    margin: 0;
    padding-left: 0.2em;
}

aside a {
    color: steelblue;
    font-weight: normal;
    text-decoration: none;  }

aside a:hover, a:focus {
  
    color: rgb(0,93,158);
    text-decoration: underline; }

section p {
    margin-bottom: .7em;
}
/* Styles for the footer */
footer {
    background-color: rgb(0,93,158);
    color: white;
    font-size: 80%;
    line-height: 200%;
    text-align: right;
    padding-right: 5em;
    margin-bottom: 0;
    clear: both;
}